<tr>
  <td>
    <%= link_to ss.name || 'Secret Santa', secret_santum_path(ss) %>
  </td>
  <td>
    <%= pluralize(ss.secret_santa_participants.size, 'Participant') %>
  </td>
  <td class="text-center">
    <%= content_tag :span, '', class: "glyphicon #{ss.complete? ? 'glyphicon-ok' : 'glyphicon-remove'}", title: "This Secret Santa is #{ss.complete? ? 'complete' : 'incomplete'}." %>
  </td>
  <td class="text-center">
    <%= content_tag :span, '', class: "glyphicon #{ss.secure? ? 'glyphicon-lock' : 'glyphicon-ok-circle'}", title: "This Secret Santa is #{ss.complete? ? 'locked' : 'unlocked'}." %>
  </td>
</tr>
