<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <h3>Name</h3>
      </th>
      <th>
        <h3>Participants</h3>
      </th>
      <th>
        <h3>Complete?</h3>
      </th>
      <th>
        <h3>Secured?</h3>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'secret_santa/index/secret_santa_table_row', collection: secret_santas, as: :ss %>
  </tbody>
</table>
