<h3>Match Results:</h3>

<%= content_tag :div, class: 'row' do %>
  <div class="col-lg-12">
    <div class="alert alert-warning">
      <p>Note that this is a test and that nothing has been sent to the participants.</p>
    </div>
  </div>
<% end if secret_santa.test? %>

<% secret_santa.secret_santa_participant_matches.each do |match| %>
  <div class="row">
    <div class="col-lg-12">
      <p><strong><%= match.giver_name %></strong> gives to <strong><%= match.name %></strong> and the match is a <i><%= match.success? ? 'success!' : 'failure.' %></i></p>
    </div>
  </div>
<% end %>
