<div class="col-lg-4">
  <p><strong class="text-success"><%= match.giver_name %></strong> gives to <strong class="text-danger"><%= match.name %></strong> and the match is a <i class="text-info"><%= match.success? ? 'success!' : 'failure.' %></i></p>
</div>
