<div class="row">
  <div class="col-lg-12 text-center">
    <div class="btn-group" role="group" aria-label="actions">
      <%= f.submit 'Finish', class: 'btn btn-success btn-lg' if max_step == step %>
      <%= f.submit 'Next', class: 'btn btn-success btn-lg' unless max_step == step %>
      <%= f.submit 'Back', class: 'btn btn-default left btn-lg' unless step == 1 %>
    </div>
  </div>
</div>
