<%
  lnk ||= false
  img ||= false
%>
<div class="card" style="width: 20rem;">
  <%= image_tag img[:name], class: 'card-img-top', alt: img[:alt], title: img[:title] if img %>
  <div class="card-block">
    <%= content_tag :h4, title, class: 'card-title' %>
    <%= content_tag :p, description, class: 'card-text' %>
    <%= link_to lnk[:name], lnk[:path], class: lnk.fetch(:styles, []).join(' ') if lnk %>
  </div>
</div>
