<div class="row">
  <div class="col-lg-12">
    <% flash.each do |msg_type, message| %>
      <%= content_tag :div, class: "alert #{flash_class(msg_type)} fade in" do %>
        <%= content_tag :button, 'x', class: 'close', data: { dismiss: 'alert' } %>
        <%= message %>
      <% end %>
    <% end %>
  </div>
</div>
