<% page_title 'Applications' %>

<div id="applications" class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <%= render 'shared/card',
               title: 'Secret Santa',
               description: 'Create your own custom Secret Santa! Free!',
               img: { name: 'secret_santa_hero', title: 'Secret Santa', alt: 'Secret Santa' },
               lnk: { id: 'secret-santa-start', name: 'Start', path: secret_santa_path, styles: %w(btn btn-primary) } %>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <%= render 'shared/card',
               title: 'Gift Exchange',
               description: 'Host a gift exchange using your smartphone!',
               img: { name: 'gift_exchange_hero', title: 'Gift Exchange', alt: 'Gift Exchange' },
               lnk: { name: 'Start', path: '#', styles: %w(btn btn-primary) } %>
  </div>
</div>
