<%
  classes = 'col-lg-2' unless local_assigns.key?(:classes)
  removable = true unless local_assigns.key?(:removable)
%>
<%= content_tag :div, class: "nested-fields #{classes}", id: f.object.persisted? ? "participant-#{f.object.id}" : '' do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= f.simple_fields_for :user, f.object.user || f.object.build_user(guest: Time.zone.now) do |user_form| %>
        <%= render 'users/user_fields', f: user_form, guest: current_user != f.object.user, autofocus: autofocus_object?(@active_secret_santa_participant, f.object.id) %>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="text-right">
        <%= link_to_remove_association raw('&times;'), f, class: 'btn btn-danger btn-xs' if removable %>
      </div>
    </div>
  </div>
<% end %>
