<div class="nested-fields well well-compact">
  <%= f.simple_fields_for :user, f.object.user || f.object.build_user(guest: Time.zone.now) do |user_form| %>
    <%= render 'users/user_fields', f: user_form %>
  <% end %>
  <%= link_to_remove_association 'delete', f %>
</div>
