<div class="nested-fields col-lg-2 col-lg-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= f.simple_fields_for :user, f.object.user || f.object.build_user(guest: Time.zone.now) do |user_form| %>
      <%= render 'users/user_fields', f: user_form %>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="text-right">
        <%= link_to_remove_association raw('&times;'), f, class: 'btn btn-danger btn-xs' %>
      </div>
    </div>
  </div>
</div>
