<div class="nested-fields">
  <%= f.association :exception, collection: exceptions_for_secret_santa_participant(f.object.secret_santa_participant_id, f.object.secret_santa_participant.participantable), prompt: 'Who?' %>
  <%= link_to_remove_association 'delete', f %>
</div>
